doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug Testing
        link(rel="stylesheet" type='text/css' href="/styles/main.css")
    body 
        block content
    footer
        block footer
            p Written by Samuel Reed, 2022
                a(href="http://rtp314.github.io") rtp314.github.io 