extends layout.pug 

block content
    section
        h1 Welcome
        p This is a simple project testing out implementing user authentication and authorisation using JSON Web Tokens.
        p No frontend libraries used, all html is generated server-side with Pug and Express.
        p User authentication and authorisation powered by jsonwebtoken, bcrypt, and mongodb.
