extends layout.pug 

block content 
    script(src="/js/redirect.js") 
    section
        h1 Welcome, #{name}

        p Your login has successfully been created.
        p You will be redirected in <span id="countdown">5</span> seconds. If not, then please 
            a(href="/user/secret") click here